* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e5e5e5;
    color: #000;
    font-size: 13px;
    line-height: 1.5;
}

#intro {
    height: 600px;
}

#about {
    justify-self: left;
    background-color: #000000;
}

#skills {
    height: 500px;
    background-color: #151515;
}

#contact {
    height: 500px;
    background-color: #000000;
    justify-self: right;
}

#footer {
    background-color: #151515;
}

.bg-dark {
    background-color: #000 !important;
}

.mt-20 {
    margin-top: 100px;
}

.img-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.custom-input {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 1rem;
    background-color: transparent !important;
}

.custom-input-button {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 1rem;
    background-color: transparent !important;
}

.section {
    width: 100%;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}

.article:nth-child(even) .side {
    margin-left: -20px;
    margin-right: 0;
}

@media (max-width: 768px) {
    .article,
    .article:nth-child(even) {
        flex-direction: column;
    }
}

.grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #fff;
}

.grid:nth-child(1) {
    padding: 20px;
    background: #eee;
    justify-content: flex-start;
}

.ttr {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#btn-c-badge {
    background-color: #7AD4B4;
    border: 0;
}

.btn {
    position: relative;
    margin-top: 10px;
}

.side {
    position: relative;
    z-index: 99;
    width: calc(100% + 60px);
    background: #4d4d4d;
    margin-right: -20px;
    padding: 20px;
}

.para {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fas,
.far,
.fa {
    margin-right: 10px;
}

.img {
    width: 100%;
}

.btnWatch {
    position: absolute;
    left: auto;
    right: auto;
    bottom: auto;
    background: #009688a6;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
}